<!DOCTYPE html>
<html lang="de-DE">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }} | {{ site.title }}</title>
        <link rel="stylesheet" href="/assets/css/normalize.css">
        <link rel="stylesheet" href="/assets/css/style.css">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://fonts.googleapis.com/css?family=Sacramento|Playfair|Open+Sans&display=swap"
            rel="stylesheet">
    </head>
    <body>
        <div id="background"></div>
        <div class="container">
