.container-rezept {
    width: 100%;
    max-width: 1000px;

    background: white;
    border-radius: 5px;
    box-shadow: 0px 30px 15px -20px rgba(50, 50, 50, 0.3),
        0px 50px 20px -40px rgba(50, 50, 50, 0.3),
        0px 70px 25px -60px rgba(50, 50, 50, 0.3);

    margin: 30px auto;
    padding: 40px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header"
        "zutaten"
        "anleitung"
        "footer";
    gap: 10px;
}

.header {
    grid-area: header;
}

.title {
    font-family: var(--header-font);
    text-align: center;
    font-size: 400%;
    letter-spacing: -1px;
}

.taglist {
    background: var(--primary-color);
    color: white;
    padding: 5px 20px 5px 50px;
    margin-left: -50px;

    box-shadow: 2px 3px 5px rgba(50, 50, 50, 0.4);

    position: relative;
    font-family: var(--secondary-font);
    font-size: 80%;
}

.taglist::before {
    content: "";
    border-style: solid;
    border-color: transparent var(--primary-color-darker) transparent transparent;
    border-width: 0 10px 10px 0;

    position: absolute;
    top: 100%;
    left: 0;
}

.zutaten {
    grid-area: zutaten;
    max-width: 100%;
    padding: 10px 0 30px 0;

    font-family: var(--secondary-font);
    font-size: 90%;

    border-bottom: 1px solid #eee;
}

.zutaten table {
    width: 100%;
}

.zutaten table td {
    vertical-align: top;
    padding: 7px 3px;
}

.zutaten table tr td:first-child {
    width: 40%;
}

.zutaten table tr td:last-child {
    width: 60%;
}

.zutaten .menge {
    font-weight: bold;
    text-align: right;
}

.anleitung {
    grid-area: anleitung;
    text-align: justify;
    padding-top: 30px;
}

.footer {
    grid-area: footer;

    padding: 50px 10px;

    text-align: center;
}

.quelle {
    font-family: var(--secondary-font);
    text-decoration: none;
    color: #ccc;
    font-size: 75%;
}

.rezeptname {
    margin-right: 20px;
}

.tag {
    background: var(--primary-color);
    color: white;
    font-family: var(--secondary-font);
    /* font-style: italic; */
    font-size: 80%;
    padding: 2px 5px;
}

.weitere_zutaten_header {
    text-align: center;
}


@media (min-width:400px) {

    html,
    body {
        font-size: 20px;
    }
}

@media (min-width:800px) {
    .container-rezept {
        grid-template-columns: auto auto;
        grid-template-areas: "header header"
            "anleitung zutaten"
            "footer footer";
    }

    .zutaten {
        max-width: 350px;
        padding: 10px 0;
        border-bottom: none;
    }

    .anleitung {
        padding-top: 0;
    }
}
