{% include header.html %}

<div class="container-rezept">
    <div class="header">
        <h1 class="title">{{ page.name }}</h1>

        <div>
            <span class="taglist">{{ page.tags | join: ", " }}</span>
        </div>
    </div>
    
    <div class="zutaten">
        <table>
        {% for zutat in page.zutaten %}
            <tr>
                {% assign parts = zutat | split: "  " %}
                <td class="menge">{{ parts[0] }}</td>
                <td class="zutat">{{ parts[1] }}</td>
            </tr>
        {% endfor %}

        {% if page.weitere_zutaten %}
            {% for weitere_zutaten in page.weitere_zutaten %}
                <tr><td colspan="2">
                    <h2 class="weitere_zutaten_header">{{ weitere_zutaten.name }}</h2>
                </td></tr>
                {% for zutat in weitere_zutaten.zutaten %}
                    <tr>
                        {% assign parts = zutat | split: "  " %}
                        <td class="menge">{{ parts[0] }}</td>
                        <td class="zutat">{{ parts[1] }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        {% endif %}
        </table>
    </div>
    
    <div class="anleitung">
        {{ content }}
    </div>

    <div class="footer">
        {% if page.link %}
            <a class="quelle" href="{{ page.link }}">Link zum Ursprungsrezept</a>
        {% endif %}
    </div>
</div>

{% include footer.html %}